{% extends "admin/base.html" %}
{% load static %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'css/alunos/lista.css' %}">
{% endblock imports %}

{% block title %}Alunos | Lista{% endblock title %}


{% block content %}
{% include "partials/_navbar.html" %}
<main class="container-main">
    <section class="lista-alunos">
        <div class="acoes w-75">
            <a href='{% url "aluno_create" %}' class='btn button-dark me-2'>
                <i class="bi bi-plus-circle-fill mr-2"></i>          
                Novo Aluno
            </a>
            <a href='{% url "home" %}' class='btn button-dark'>
                <i class="bi bi-arrow-left-circle-fill mr-2"></i>
                Voltar
            </a>
        </div>
        <div>
            <h2 class='text-primary my-1 title-section'>
                Lista De Alunos
            </h2>
        </div>
        <div class="row w-75">
            {% for aluno in alunos %}
            <div class="col-md-6 mb-3 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'aluno_detail' aluno.id %}" class='card-title link-aluno'>{{aluno.nome}} {{aluno.sobrenome}}</a>
                        <div class="card-text d-flex flex-column gap-1 ms-2 mt-2">
                            <span class='text-muted'><i class="bi bi-envelope-fill mr-4"></i> {{aluno.email}}</span>
                            <span class='text-muted'><i class="bi bi-telephone-fill mr-3"></i> {{aluno.telefone}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12 mb-3 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body py-2">
                       <div class="card-text">
                            <div class='text-center'>
                                <h1 class='text-muted'>
                                    <i class="bi bi-people-fill"></i>
                                </h1>
                            </div>
                            <div class='mt-2 text-center'>
                                <h5 class='text-muted'>
                                    Nenhum aluno foi cadastrado!
                                </h5>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include "partials/_pagination.html" %}
        </div>
    </section>
</main>
{% endblock content %}