{% extends "admin/base.html" %}
{% load static %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'css/alunos/cadastro.css' %}">
{% endblock imports %}

{% block title %}Alunos | Matricular {% endblock title %}


{% block content %}
{% include "partials/_navbar.html" %}
<main class="container-main">
    <section class="cadastro-aluno">
        <div class="acoes w-75">
            <a href='{% url "turma_detail"  turma.id %}' class='btn button-dark'>
                <i class="bi bi-arrow-left-circle-fill mr-3"></i>
                Voltar
            </a>
        </div>
        
        <div class="card w-75">
           <div class="card-body">
                <div class="card-text">
                    <form method="post" class='d-flex justify-content-center gap-2'>
                        {% csrf_token %}
                        <div class='w-75'>
                            <label for="nome" class="form-label">Alunos *</label>
                            <select class="form-select" size="3" name='emails' id='alunos' multiple="multiple" required>
                                {% for aluno in alunos %}
                                    <option value="{{aluno.email}}">{{aluno.nome}} {{aluno.sobrenome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class='d-flex justify-content-center'>
                            <button type="submit" class="btn button-primary mt-4">
                                Matricular Alunos
                            </button>
                        </div>
                        
                    </form>
                </div>
           </div>
        </div>
    </section>
</main>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#alunos').select2({
                placeholder: "Selecione os alunos",
                allowClear: true
            });
        });
    </script>
{% endblock scripts %}

